[submodule "test/js-imagediff"]
	path = test/js-imagediff
	url = git://github.com/HumbleSoftware/js-imagediff.git
[submodule "test/jasmine"]
	path = test/jasmine
	url = https://github.com/pivotal/jasmine.git
